@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap');
@font-face {
  font-family: "IBM";
  src: url(../fonts/IBM-Logo.ttf);
  font-style: normal;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

body{overflow-y: auto; overflow-x: hidden;}

#grad {
    background-image: linear-gradient(to bottom right, #f8f3fc,  #201f2c);
}
body {
  background-color: rgb(28, 30, 32);
}

.header {
    position: absolute;
    float: left;
    font-family: 'IBM';
    font-size: 16px;
    width: 100%;
    padding: 20px;
    top: 0px;
    left: 0;
    height: 4vw;
    text-align: left;
    text-indent: 20px;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(146deg, rgba(2,0,36,1) 0%, rgba(53,53,70,1) 35%, rgba(37,44,46,1) 92%);
}

.headerbutton {
  position: relative;
  text-align: right;
  float: right;
  top: 60px;
  color: white;
  background: transparent
}

.github {
  position: absolute;
  top: 45px;
  right: 25px;
  float: right;
  color: silver;

}

.twitter {
  position: absolute;
  top: 15px;
  right: 25px;
  float: right;
  color: silver;

}

.sidepanel {
  width: 0;
  height: 1080px;
  position: fixed; 
  z-index: 1; 
  top: 0;
  right: 0;
  background-color: rgba(11, 11, 12, 0.7); 
  overflow-x: auto; 
  padding-top: 120px; 
  transition: 0.5s; 
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  font-family: "IBM Plex Serif";
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #111;
}

.heading1 {
  flex-wrap: wrap;
  width: 89%;
  position: absolute;
  font-family: "IBM Plex Serif";
  font-size: 13px;
  color: white;
  top: 8rem;
  padding-left: 25px;
  text-align: left;
}

.maintext {
  flex-wrap: wrap;
  width: 89%;
  position: absolute;
  font-family: "IBM Plex Serif";
  font-size: 13px;
  color: white;
  top: 12rem;
  padding-left: 25px;
  text-align: left;
}

.subtext {
  flex-wrap: wrap;
  width: 89%;
  position: absolute;
  font-family: "IBM Plex Serif";
  font-size: 13px;
  color: white;
  top: 30rem;
  padding-left: 25px;
  text-align: left;
}

.footer {
  position: absolute;
  font-family: "IBM";
  font-size: 4px;
  color: white;
  text-align: right;
  right: 5px;
  left: 0;
  bottom:0;
  width: 100%;
  height:15px;
  background-color: rgb(26, 26, 26);
}
